@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../../node_modules/bulma/bulma";
@import "fa/fontawesome.scss";
@import "fa/solid.scss";


.header {
    margin-top: 0.5rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.dashboard {
    border-radius: 10px;
    height: 65vh;
    padding: 1.5rem;
    text-align: center;
}

.dashboard:empty::after {
    content: 'No items have been added';
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: 30vh;
}
.card-size {
    max-width: 20%;
    min-width: 170px;
    border-radius: 6px;
    display: inline-block;
    margin: 10px;
}
.card-header {
    background-color: whitesmoke;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.pacient-name {
    font-weight: bold;
}


//make normal content with js.